

<div>
{{tab}}

	<a ng-click="activeTab('repos')">Repositories</a>
	<a ng-click="activeTab('starred')">Starred</a>

	<h2>Github</h2>
<div ng-switch="tab">
	<div ng-switch-when="repos">
		<h3>Popular Repositories</h3>
		<div data-directive-github-repos></div>
	</div>
	<div ng-switch-when="starred">
		<h3>Starred Repositories</h3>
		<div data-directive-github-starred></div>
	</div>

	<div ng-switch-when="followers">
		<div data-directive-github-followers></div>
	</div>

	<div ng-switch-when="gists">
		<div data-directive-github-gists></div>
	</div>
</div>

</div>